<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/kumarkartikeya/IdeaProjects/TalaAssignment-ApiAutomation">
        <classes>
            <class name="api.test.GeolocationApiTest">
            </class>
        </classes>
    </test>
</suite>